.card {
  text-align: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
  max-width: 300px;
  padding-top: 10px;
  color: white;
}

.capital {
  font-size: 0.5em !important;
}

img {
  min-height: 150px;
  max-height: 150px;
  min-width: 250px;
  margin-top: 13px;
}

p {
  text-align: center;
  font-size: 0.8em;
  line-height: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: papayawhip;
}

.weather_title {
  font-size: 1.2em;
}
